.metals
.vscode

0x0000_BasicScala/1st_ProjBuildUP/out
0x0000_BasicScala/2nd_Grammar/out
0x0000_BasicScala/3rd_Container/out

0x0001_BasicChisel/1st_ProjBuildUP/out
0x0001_BasicChisel/1st_ProjBuildUP/HDL
0x0001_BasicChisel/1st_ProjBuildUP/target
0x0001_BasicChisel/1st_ProjBuildUP/test_run_dir
0x0001_BasicChisel/2nd_Multiplexer/out
0x0001_BasicChisel/2nd_Multiplexer/HDL
0x0001_BasicChisel/2nd_Multiplexer/target
0x0001_BasicChisel/2nd_Multiplexer/test_run_dir
0x0001_BasicChisel/3rd_Counter/out
0x0001_BasicChisel/3rd_Counter/HDL
0x0001_BasicChisel/3rd_Counter/target
0x0001_BasicChisel/3rd_Counter/test_run_dir
0x0001_BasicChisel/4th_Vector/out
0x0001_BasicChisel/4th_Vector/HDL
0x0001_BasicChisel/4th_Vector/target
0x0001_BasicChisel/4th_Vector/test_run_dir
0x0001_BasicChisel/5th_InlineVerilog/out
0x0001_BasicChisel/5th_InlineVerilog/HDL
0x0001_BasicChisel/5th_InlineVerilog/target
0x0001_BasicChisel/5th_InlineVerilog/test_run_dir
0x0001_BasicChisel/6th_CondiCheck/out
0x0001_BasicChisel/6th_CondiCheck/HDL
0x0001_BasicChisel/6th_CondiCheck/target
0x0001_BasicChisel/6th_CondiCheck/test_run_dir
0x0001_BasicChisel/7th_PWM/out
0x0001_BasicChisel/7th_PWM/HDL
0x0001_BasicChisel/7th_PWM/target
0x0001_BasicChisel/7th_PWM/test_run_dir
0x0001_BasicChisel/8th_FSM/out
0x0001_BasicChisel/8th_FSM/HDL
0x0001_BasicChisel/8th_FSM/target
0x0001_BasicChisel/8th_FSM/test_run_dir
0x0001_BasicChisel/9th_Generator/out
0x0001_BasicChisel/9th_Generator/HDL
0x0001_BasicChisel/9th_Generator/target
0x0001_BasicChisel/9th_Generator/test_run_dir