.metals
.vscode

0x0000_BasicScala/1st_ProjBuildUP/out
0x0000_BasicScala/2nd_Grammar/out
0x0000_BasicScala/3rd_Container/out

0x0001_BasicChisel/1st_ProjBuildUP/out
0x0001_BasicChisel/1st_ProjBuildUP/HDL
0x0001_BasicChisel/1st_ProjBuildUP/target
0x0001_BasicChisel/1st_ProjBuildUP/test_run_dir
0x0001_BasicChisel/2nd_Multiplexer/out
0x0001_BasicChisel/2nd_Multiplexer/HDL
0x0001_BasicChisel/2nd_Multiplexer/target
0x0001_BasicChisel/2nd_Multiplexer/test_run_dir